[2013-03-15 23:03] miso-belica opened #1 "Simple summary evaluation framework"
Add package for evaluation of summary with same basic methods. Possible algorithms below:

- [x] Precision, Recall & F-Score
- [x] Cosine similarity
- [x] Unit overlap
- [ ] Kappa
- [ ] Rouge
- [ ] Longest common subsequence
- [ ] n-grams

[2013-03-15 23:13] miso-belica opened #2 "Alternative sentence tokenizer"
I use [NLTK](http://nltk.org/) to tokenize text into sentences & words. But that's big package. Maybe something smaller would be better. Something like https://bitbucket.org/trebor74hr/text-sentence/overview

[2013-09-20 05:15] speedplane opened #3 "ImportError: No module named copy_reg"
Hi,

I have nltk 2.0.4 installed and the latest version of sumy. I'm running into the following error, any idea why?

[code]

[2013-09-20 10:00] #3 closed, assigned to nobody

[2013-10-01 06:29] speedplane opened #5 "Crash: LinAlgError: SVD did not converge"
I am getting a crash during the singlar value decomposition in `lsa.py`:

`u, sigma, v = singular_value_decomposition(matrix, full_matrices=False)`

The exception is `LinAlgError: SVD did not converge`

I saved the input file here: http://pastebin.com/s0RNZ2J2

To Reproduce:
[code]

[2013-11-04 07:27] vishalvnair opened #6 "Summarization of DOCX & PDF formats"
Hai,
First of all thanks for this wonderful module.
I have installed the sumy in my local and run the following command in my terminal
from sumy-master folder

[code]
I got the summarization text.
======================================================
Then i tried for a document summarization
i created a simple test.txt  and also a simple success.pdf file in in sumy-master folder and run the follo

[2014-01-23 07:11] pratikpoddar opened #8 "Readability Module"
I get this error when I use HtmlParser.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/sumy/parsers/html.py", line 6, in <module>
    from readability.readable import Article
ImportError: No module named readable

Was there a change in the readability module recently? Can you please check? Thanks

[2014-01-23 08:28] #8 closed, assigned to nobody

[2014-04-02 19:17] shavid opened #9 "How to summarize .txt files."
Hi,

I've had a mess around with Sumy and it seems to be perfect for the small project I've been working on. However I've only been able to work with URL's. What code would i need to implement to summarize a block of text. Either saved in a variable or loaded from a .txt file.

Regards.

[2014-04-09 02:22] petulla opened #10 "Pip install issue / lxml issue"
Hi
My Pip install threw the following error:

[code]

[2014-04-09 19:51] #10 closed, assigned to nobody

[2014-05-13 16:54] shavid opened #13 "Error with using 'English' as language."
Upgraded Sumy and get this error upon running it.

The debugged program raised the exception unhandled TypeError
"__new__() takes exactly 2 arguments (1 given)"
File: /usr/local/lib/python2.7/dist-packages/sumy/nlp/stemmers/german.py, Line: 9
Break here?

[2014-06-04 05:26] nathanathan opened #14 "AssertionError: Number of words (141) should be larger than number of sentences (175)"
I'm running into this assertion when using the lsa summarizer. Does anyone have some advice for avoiding it?

[2014-06-07 12:24] #9 closed, assigned to nobody

[2014-06-08 09:40] #14 closed, assigned to miso-belica

[2014-07-30 14:50] arne-cl opened #15 "LookupError: Stemmer is not available for language english."
Dear Mišo,

after installing `sumy` via pip (version `0.3.0`), I tried to run your first usage example:

[code]

Any ideas?

Kind regards,
Arne

[2014-07-30 15:21] #15 closed, assigned to nobody

[2014-12-09 15:28] CGNx opened #16 "Error with upper case sentence"
The following string will throw an error when you try to summarize with any sentence count.
[code]

To fix this, add the following to your repo:
[code]

[2014-12-22 01:46] JulianGriggs opened #17 "IDF Calculation in lex_rank"
In lex_rank.py, what is the motivation for calculating IDF for a word, w, as:
IDF(w) = N/k
where
N = total number of sentences in the document
k = the number of sentences containing the word

It is my understanding that:
IDF(w) = log (D/k)
where
D = the number of documents in the corpus
k = the number of documents containing w.

Are you treating each sentence as its own document?  If so, shouldn't

[2015-03-25 21:38] magic890 opened #19 "Edmundson summarization technique implementation"
Hi,

thank you for the wonderful module!

I'm working in Scala trying to write Edmundson summarisation technique like the one used in your module, can you please give me a reference / paper / pseudo-code implementation please.

Have you got a list of academic papers as references for formulas?

[2015-03-30 19:02] #19 closed

[2015-03-30 19:06] miso-belica commented on #19
Thanks. I added some info into readme. You can find more references in [my thesis](http://www.fit.vutbr.cz/study/DP/DP.php.en?id=14926) but the main content is in Slovak language.

[2015-04-04 18:17] miso-belica commented on #16
@CGNx I need more info about this. I'm not able to reproduce the issue so I'm closing it. Feel free to reopen and provide more info about how to reproduce it if this is still an issue for you.

[2015-04-04 18:17] #16 closed

[2015-04-04 18:18] #13 closed

[2015-04-04 18:45] miso-belica commented on #6
@vishalvnair what about the parser for PDF, DOCX documents? Did you succeed?

[2015-04-04 19:17] #6 closed

[2015-04-06 23:31] nick-magnini opened #21 "Edmundson summarizer"
Hi,

I checked the code for Edmundson summarizer. As I figured out it doesn't do anything for English. Basically it suppose to extract cue words and significant words and the words in title and rank the sentences based in these scores and the location. Well, when the input is a raw text file, then the summarizer works based on the location of the sentence. Is that right? There is no method to extr

[2015-04-07 00:12] nick-magnini commented on #21
I realized that even the location in Edmundson doesn't work when the input document is a raw text document in one sentence per line format.

[2015-04-10 17:04] miso-belica commented on #21
Hi, I suppose some format of "plain text". But I'm not sure if I understand you. Can you give an example of the text? And what does "it doesn't do anything for English" means? It means that for other languages summarizer works correctly? And what do you suggest? How do you think should the summarized behave?

[2015-04-10 17:17] nick-magnini commented on #21
Hi,

Well, it does give the output but it's not based on the Edmundson algorithm. Basically the list of cue words and significant words are the non_english version which is in the parser/parse.py:

SIGNIFICANT_WORDS = (
        "významný",
        "vynikající",
        "podstatný",
        "význačný",
        "důležitý",
        "slavný",
        "zajímavý",
        "eminentní",
        "vlivný",

[2015-04-10 17:52] miso-belica commented on #21
Yes, you are absolutely right. I totally forget about it. I tested summarizers with Czech texts and let it there. This should be fixed. Thanks a lot for this :)

But as I remember there is no method for gathering stigma/bonus words from the text. They should be provided based on the language like stop-words are.

[2015-04-10 18:36] nick-magnini commented on #21
Ok, we should then think about it then. stigma/bonus words should be extracted from the summarizing text. A general one will not help. It can be done using various methods such as topic extraction, phrase extraction, ... We can work on it. I'll come with some modules and points on that soon.

[2015-04-10 18:37] nick-magnini commented on #21
Also regarding the location, it should be fixed in the edmundson_location.py

[2015-04-17 16:59] mponza opened #22 "LexRankSummarizer Bug(s)?"
Hi, Miso Belica! :) I was running Sumy with the LexRank summarizer and I saw that the power_method always ends after one iteration. I think there is a bug: if you update p_vector with next_p before computing the new lambda_val, than the power_method ends after one iteration (in this way lambda_val is always zero after the first iteration).

In addition, I tried to see the values of the scores vari

[2015-04-18 09:19] miso-belica commented on #22
Thanks for this one. I'll dig into the lex-rank method deeper because another person noticed it does not work as expected. IMO is the right time to read the paper about this method again and check the implementation.

Good to here my little project is useful for someone. May I ask where and what for are you using sumy?

[2015-04-18 19:40] mponza commented on #22
Thanks for the answer! I was using Sumy in order to compare same summarization algorithms :)

[2015-04-25 12:21] lastlegion commented on #17
https://github.com/miso-belica/sumy/pull/23 Pull request

[2015-05-06 00:39] acohan opened #24 "What is the source paper for lsa summarizer?"

[2015-05-19 16:29] acohan opened #25 "LexRankSummarizer, division by zero"
When an upper case string is passed, tokenizer does not seem to work correctly and returns zero sentences and therefore inside the algorithm, division by zero exception is encountered. The issue will be fixed by lower casing the string prior to passing it to the algorithm.

[2015-05-22 14:17] acohan opened #26 "Lexrank scores all the sentences the same."
No matter what are the sentences, the scores returned by lexrank is the same for all the sentences.
i.e. 1/count(sentences)
``lex_rank.py``
[code]

[2015-06-01 07:54] PenniesEverywhere opened #27 "UTF-8 issue"
Python 2.7 on Win32. Problem with UnicodeDecode requires generic handling, I suppose. Input text is plain text, so no reason for error message.

[2015-06-01 08:42] miso-belica commented on #27
Hi, please describe minimal example, what it produces and what you think it should produce. I have no idea what is the problem from the description above. Thanks

[2015-06-16 20:40] AtomicStryker opened #28 "Sumy not correctly handling points which do not end sentences like "e.g." in english"
Sumy is run by using a java processbuilder (essentially a command line call) to a python script, which i posted here: http://pastebin.com/9JDbPFVH. A test text exemplifying to issue can be found here: http://pastebin.com/gD65sS22

An example would be running the sumyapi.py file using arguments lex_rank, english, 3 and the provided text. The output is:

"Viral videos have become a staple of the soc

[2015-06-22 15:44] AtomicStryker commented on #28
Just to make sure i also checked with plaintext input from files or piped, it has the same defective behaviour.

[2015-06-29 12:34] AtomicStryker commented on #28
Upon further investigation it is in fact NLTK causing the problem, and it can be fixed by adding abbrev_types parameters before tokenization. Pull request: https://github.com/miso-belica/sumy/pull/29

[2015-07-01 17:55] Crista23 commented on #28
Is it possible to give to sumy as input a list of already delimited sentences, instead of the entire plain text? In this way I could circumvent sumy to make its own sentence splits, and would be very helpful.

[2015-07-29 18:27] Crista23 commented on #26
I wanted to report the very same thing, and saw that there is already an issue about that. Has this been resolved or not yet?

[2015-07-29 18:41] acohan commented on #26
The bug I think is in power_method function (line 128) in this module: sumy/summarizers/lex_rank.py.

Specifically, I changed line 138 to the following and now it works as expected:
[code]

According to the paper, ```lambda_val``` should also be the square root of sum. not sum. i.e.

[code]

[2015-07-29 18:57] Crista23 commented on #26
Hmm.. I still get the same scores. It's also interesting that it outputs the sentences in exact order as they are in the original document:

SentenceInfo(sentence=<Sentence: Contact us!>, order=0, rating=0.16666666666666666), SentenceInfo(sentence=<Sentence: Barack Obama today was in a charity campaign where he attended official visits in Africa.>, order=1, rating=0.16666666666666666), SentenceInf

[2015-08-06 15:25] houmie opened #33 "Is sumy utilising any corpus?"
I was wondering if e.g. the brown corpus would be utilised to achieve better LSA results?
Or are the corpora only utilised for tagging?

[2015-08-09 11:33] #1 closed

[2015-08-09 11:34] #17 closed

[2015-08-09 11:34] miso-belica commented on #17
Fixed in b509a3c07350e6a4a8b63fff39a90dea7c6be4e8

[2015-08-09 11:36] miso-belica commented on #24
I think [this one](http://www.kiv.zcu.cz/~jstein/publikace/isim2004.pdf)? But I'm not really sure. You can find more about this in [readme](https://github.com/miso-belica/sumy/blob/dev/README.rst).

[2015-08-09 11:36] #24 closed

[2015-08-09 11:38] miso-belica commented on #25
Can you provide simplest possible test case for this? O even better PR with test and fix for this? :)

[2015-08-09 11:40] miso-belica commented on #26
Hi, thanks for the reports. I hope I'll dig into this after I return from swimming pool. There is pretty hot here right now for fixing the bugs :)

[2015-08-09 11:41] miso-belica commented on #27
I can't reproduce the bug. I this bug still persists please provide more info and I'll fix it :)

[2015-08-09 11:41] #27 closed

[2015-08-09 11:52] miso-belica commented on #28
@Crista23 Every summarizer consumes `sumy.models.dom.ObjectDocumentModel` so if you build your own from tokenized sentences you can pass it into every summarizer. For example by this code
[code]

[2015-08-09 11:53] miso-belica commented on #28
@AtomicStryker PR merged, thanks.

[2015-08-09 11:53] #28 closed

[2015-08-20 21:01] myMaid opened #38 "multiple document summarisation"
I don't know if this can work for multidocument summary.
I tried using a folder(where all txt fils were) but it didn't work. it worked for single document( i used lexrank and texrank) but is there a way to feed in multiple text files and get just one summary?
Thank you

[2015-08-29 17:26] miso-belica commented on #33
Hi, unfortunately I don't understand you. I don't think any corpus would bring better results into LSA summarization method. This method is not trained on any corpus. Implemented LSA is unsupervised summarization method and currently there is no way how to train it on some corpus.

[2015-08-29 17:26] #33 closed

[2015-08-29 17:30] miso-belica commented on #38
Hi, there is no support for multi-document summarization yet. You can concat documents into single file, but I don't think that's good idea.

But any PR is very welcome ;)

[2015-08-29 17:30] #38 closed

[2015-08-29 18:12] #25 closed

[2015-08-29 19:05] miso-belica commented on #26
Hi, this should be now resolved. I [updated power method](https://github.com/miso-belica/sumy/blob/d9d8d27987735d8068b626e32aa78f337e6811bb/sumy/summarizers/lex_rank.py#L143-L145) so it uses algorithms from numpy instead of reinventing the whell. Thanks :)

If you think this issue is not resolved, please let me know. I plan to release new version of sumy this week.

[2015-08-29 19:05] #26 closed

[2015-08-29 19:06] miso-belica commented on #22
Hi, this should be now resolved. I [updated power method](https://github.com/miso-belica/sumy/blob/d9d8d27987735d8068b626e32aa78f337e6811bb/sumy/summarizers/lex_rank.py#L143-L145) so it uses algorithms from numpy instead of reinventing the whell. Thanks :)

If you think this issue is not resolved, please let me know. I plan to release new version of sumy this week.

[2015-08-29 19:06] #22 closed

[2015-09-23 03:46] duxy-me opened #41 "about KLSummarizer"
There are some bugs in the tf compute.
1. in function _compute_tf, the divide is integer divide so that all the results become 0. So i add a type convertion float() there.
 `content_word_tf = dict((k, float(v) / content_words_count) for (k, v) in content_words_freq.items())`
2. In _kl_divergence function, the w in summary_freq may not exist in doc_freq because of the filter method. Maybe we should

[2015-09-23 08:05] miso-belica commented on #41
Thanks, I'll dig into this later.

[2015-10-07 22:04] abhigenie92 opened #42 "Multi document summarization"
Hey does this package offer multi-document. If yes is there a example avialable somewhere?

[2015-10-08 09:14] miso-belica commented on #42
Hi, currently multi-document summarization is not supported. But Pull Requests are welcome :)

[2015-10-08 14:33] stshoot opened #43 "spanish support for sumy"
Hi, I would like that you add spanish support for the project.
In my town there are a research group very interested in this project with the spanish support

[2015-10-08 15:06] miso-belica commented on #43
Hi,
There are only few language dependend parts:
- `Tokenizer` is just [thin wrapper](https://github.com/miso-belica/sumy/blob/dev/sumy/nlp/tokenizers.py#L40) around NLTK so it supports spanish.
- `Stemmer` is just [thin wrapper](https://github.com/miso-belica/sumy/blob/dev/sumy/nlp/stemmers/__init__.py#L26) around NLTK so it supports spanish.
- Summarizers works also without stop-words or you can

[2015-10-08 15:12] stshoot commented on #43
We add the spanish stopwords en data folder, but it seems that does not recognize
I think we just need a little guidance to implement it.

[2015-10-08 15:39] miso-belica commented on #43
@stshoot that are good news. Just [create PR](https://help.github.com/articles/creating-a-pull-request/) and I'll look at it :)

[2015-10-08 19:18] stshoot commented on #43
This is a test code with edmundson

In data/stopwords I add the spanish.txt

[code]
 but get this:
[code]

[2015-10-09 08:00] miso-belica commented on #43
I think error message is pretty clear, Edmundson method requires list of bonus words, so you should provide it `summarizer.bonus_words = get_bonus_words()`.

[2015-10-09 13:37] stshoot commented on #43
Thanks for your help, It's an amazing code!!

[2015-10-09 14:22] miso-belica commented on #43
@stshoot good to hear. I would appreciate if you attach the list of used bones/null/stigma words here so sumy can speak Spanish natively :) Thanks for nice words

[2015-10-09 15:20] stshoot commented on #43
Of curse. And I'm interested in summarizing legal documents in spanish of my country and think "summy" is really a good choice. Am I able to contact you by email?

[2015-10-09 15:32] miso-belica commented on #43
My e-mail is in `setup.py` file. Feel free to write me :)

[2015-10-28 19:20] #43 closed

[2015-12-03 07:33] agdel1921 commented on #42
from sumy.parsers.html import HtmlParser
Traceback (most recent call last):

  File "<ipython-input-11-3ba007b4cbe0>", line 1, in <module>
    from sumy.parsers.html import HtmlParser

  File "sumy.py", line 13, in <module>
    from sumy.parsers.html import HtmlParser

ImportError: No module named parsers.html

How to sove this problem. I am using MAC, python 2.7 and NLTK 3

[2015-12-03 11:11] miso-belica commented on #42
@agdel1921 please report new issue when you have some non-open problem. Here probably your file is named `sumy.py` and should be renamed into someting else, e.g `experiment.py`.

[2015-12-06 06:01] agdel1921 commented on #42
Thank you for your prompt reply. Well I did one mistake. I have two files
with same name as sumy.py, thats why I faced the problem. Now it has been
resolved.

Thanking You
Regards
Ashutosh Gaur
M.Tech(KE), NUS

On Thu, Dec 3, 2015 at 4:41 PM, Mišo Belica <notifications@github.com>
wrote:

[2015-12-06 21:07] miso-belica commented on #41
1. This is not an issue. I added [tests](https://github.com/miso-belica/sumy/commit/6e356501699d4e9a1d0a1644a6c732fc404fff71) for this.
2. Thanks a lot again. [fixed](https://github.com/miso-belica/sumy/commit/0d86e36efc349fb70f4c6c375799778a77c163ed)

[2015-12-06 21:08] #41 closed

[2015-12-22 12:56] mkurnikov opened #48 "Add numpy as a dependency"
In the `lsa.py`:
[code]

and somewhere below this dependency is checked on `__call__` of the summarizer.

I understand that in this case one doesn't have to install numpy if he isn't interested in numpy-based summarizers. But most python distributions people are using have numpy already installed anyway.
Why won't just add numpy as a dependency? Then we can remove that `_ensure_dependencies_instal

[2015-12-22 14:17] miso-belica commented on #48
Hi, numpy is added as dependency. You can install it by `pip install "sumy[LSA]"` I added numpy as optional dependency because it has binary dependencies and is not so easy to install it on Windows for beginners.

[2015-12-22 14:22] mkurnikov commented on #48
Then, can I replace
[code]

with
[code]
?

Second one will break at `import LsaSummarizer` as first one will break on the `__call__`. It doesn't really matter, where it's going to break, but will make code much cleaner.

[2015-12-22 14:26] mkurnikov commented on #48
Ok, it does matter, there is an import in `__main__.py`, so program won't start at all.

[2015-12-25 17:56] miso-belica commented on #48
Your solution breaks installation. That's why it's in method call. I really don't want to force users not interested in LSA/LexRank to install some binary dependencies. If your package depends on LSA/LexRank you can add it as `sumy[LexRank]`.

This is really the best solution I found. Maybe I can add it into README and emit warning during installation process, but that's all.

Also I don't think t

[2016-02-12 14:48] shruti927 opened #50 "error"
After installing, when I run the code for using sumy in my project, I am getting the following error:
ImportError: No module named parsers.plaintext

[2016-02-12 15:12] miso-belica commented on #50
Let me guess. The file name of your script is `sumy.py`, right? Please rename it into something else and run.

[2016-02-15 21:33] miso-belica commented on #50
So my guess was right I hope. Nice day.

[2016-02-15 21:33] #50 closed

[2016-02-15 21:34] #48 closed

[2016-02-15 21:34] #42 closed

[2016-03-13 04:21] gadgetsam opened #55 "Documentation and Examples for other summarizers"
I see the documentation for the LSA summarizer and how you should use it in python. I was wondering if you could also add examples on how to use, the other types of summarization, in python?

Thanks,
Sam

[2016-03-13 11:42] miso-belica commented on #55
Hi, what do you mean? Other summarizers are used the same way. Just replace import on the top of file.

[2016-03-14 01:56] gadgetsam commented on #55
Hi,

When I try to run    EdmundsonSummarizer, I get a raise ValueError("Set of bonus words is empty. Please set attribute 'bonus_words' with collection of words.")
ValueError: Set of bonus words is empty. Please set attribute 'bonus_words' with collection of words.

Any help would be appreciated?
Thanks,
Sam

[2016-03-14 07:33] miso-belica commented on #55
And is that unclear error message? Edmundson summarizer has *bonus words* and they should be set. Why did you choose Edmundson summarizer? I simply suppose user understand summarization method he uses. But it is true that Edmundson sumarizer is quite different. I'll try to update README with that.

[2016-04-10 09:50] dungtran18 commented on #26
@miso-belica where is the damping factor (0.85) was said in the paper? Thanks!

[2016-04-25 03:39] blackfellas opened #56 "Unable to find `vcvarsall.bat` during pip install"
copying src\lxml\isoschematron\resources\xsl\iso-schematron-xslt1\readme.txt -> build\lib.win32-3.5\lxml\isoschematron\resources\xsl\iso-schematron-xslt1
    running build_ext
    building 'lxml.etree' extension
    error: Unable to find vcvarsall.bat

[2016-04-25 06:12] miso-belica commented on #56
Hi, this is problem with lxml library. If you are on windows, try to install it with wheel of download lxml from http://www.lfd.uci.edu/~gohlke/pythonlibs/#lxml

[2016-04-25 06:12] #56 closed

[2016-04-29 12:28] cabadsanchez opened #57 "Russian support"
I've tried adding a punkt tokenizer in russian (from https://github.com/mhq/train_punkt) and a stopwords list from http://www.ranks.nl/stopwords/russian

It seems to be working fine, is this a correct approach?

[2016-05-08 13:20] miso-belica commented on #57
If you are trying to add Russian support I think it's OK. Have you some code somewhere to see?

[2016-05-09 16:15] cabadsanchez commented on #57
I haven't change your code. I've just copied a Russian tokenizer trained from Wikipedia articles (with this code https://github.com/mhq/train_punkt/blob/master/train_tokenizer.py) in my nltk_data folder, and the stopwords list linked above in sumy/data/stopwords.

[2016-05-10 10:39] miso-belica commented on #57
I think it's correct approach since sumy just wraps NLTK's tokenizer/stemmer. But the stopwors are not used from NLTK, but from [custom folder](https://github.com/miso-belica/sumy/tree/dev/sumy/data/stopwords) so you should add them there.

[2016-05-13 08:36] alexsax opened #58 "Cosine distance error"
In lexrank, _cosine_distance is calculated like follows:
 the numerator does not count repeated words
 the denominator does count repeats repeated words

So in a sentence with words occurring more than once, with tfidf vector v:
 v \dot v < 1.

[2016-05-19 13:18] cabadsanchez commented on #57
Yes, there's where I put the stopwords list. Thanks!

[2016-05-19 13:18] #57 closed

[2016-06-10 14:01] miso-belica opened #61 "IMHO incorrect work LexRankSummarizer from alex grig"
Hi!
I will be brief, so as not to distract.

When working algorithm produces a row the first proposals from the text.
for example: LexRankSummarizer: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]  - is the sequence number proposals in the in the source text.)
Alternative implementation https://github.com/TafadzwaPasipanodya/Nutshell gives the following result on the same

[2016-06-10 14:08] miso-belica opened #62 "Support for many languages (write doc about how to add it)"
Michael, hello.

A few days ago I started using your library sumy. But in there is no support for Russian language. I had to make some changes. I took the basis czech.py and replaced implementation of the stem_word on use library [Pymorphy2](https://github.com/kmike/pymorphy2).

But here today I found http://stackoverflow.com/questions/5479333/summarize-text-or-simplify-text where you write "Feel

[2016-06-14 20:49] speedplane commented on #5
It's been a while, but just wanted to leave a bit more info here in case this comes up with others. I was getting this error, but it seems to have disappeared after upgrading to the latest versions of numpy. That's a bit disconcerting as it implies that there were bugs in numpy's SVD calculation, but at least it seems to work now.

[2016-06-14 20:49] #5 closed

[2016-06-18 22:00] #58 closed

[2016-08-08 20:49] kamikater34 opened #65 "sumy_eval"
Hi,
pretty new to Python and the field of automated summarization but your sumy was a great introduction.

Currently I still lack a bit of usage/info on sum_eval - can you shed some light on this Topic and proper usage? (didn't really got it from sum_eval --help)

[2016-08-13 08:06] FrancisMurillo opened #66 "Feature: Add command line option to use stdin or text instead of file as a source"
Nice library.

Using a temporary file is a little hastle but it would be nice if you can just plug it in as a command line option or pipe it.

[2016-08-15 06:31] miso-belica commented on #66
Hi, thanks. Sumy provides the possibility to read from stdin. Just omit URL/File parameter and that's it :) Let me know if it's ok for you, or need sth else.

[2016-08-15 07:46] FrancisMurillo commented on #66
Doh!

Would it be pushing it if an option is what I really needed? I use this with `Emacs` and `start-process`, so if I pipe over it I still have to create a temporary buffer to hold the result which is really not that different if I stick with a temporary file.

[2016-08-15 07:59] miso-belica commented on #66
Sorry, I don't think I understand. I don't know Emacs but IMHO you can stream text into sumy like `./stream_text | sumy lsa`. Can you provide CLI interface that you expect from me in [docopt format](http://docopt.org/)?

[2016-08-15 08:29] FrancisMurillo commented on #66
Emacs was just an example. If Python is a good example using the `sh` library, it would look something similar in `Emacs`

[code]

[2016-10-14 02:16] varunm100 opened #68 "Sumy running the sample not working"
I ran the program you put on github and I got a few errors. I checked if sumy was installed and it was.

Link to the screenshot

![sumy prob](https://cloud.githubusercontent.com/assets/19439575/19373533/368e0b92-91e2-11e6-8879-f5c787fc963a.png)

[2016-10-14 07:11] miso-belica commented on #68
Hi, it's strange I tested it on my machine with the same problem, but after I run `pip uninstall sumy && pip install -U sumy` it works fine. Try it please and let me know.

[2016-10-14 07:12] Lyngby commented on #68
look at the error message. It tells you that you have no module named sumy.parsers.html. Did you remember to install the sumy package using pip before you ran the script?

[2016-10-14 07:47] varunm100 commented on #68
yes I checked in the pip list

On Fri, Oct 14, 2016 at 12:42 PM, Rasmus Lyngby <notifications@github.com>
wrote:

[2016-10-15 10:28] miso-belica commented on #68
So does the `pip uninstall sumy && pip install -U sumy` work foy you or not?

[2016-10-15 14:20] varunm100 commented on #68
I fixed my problem by reinstalling pyaudio

On Sat, Oct 15, 2016 at 3:58 PM, Mišo Belica <notifications@github.com>
wrote:

[2016-10-15 14:30] #68 closed

[2016-10-17 10:10] meetsha opened #69 "Error in SumBasic Summarizer"
This is a great library.
But it throws up an Attribute Error in the SumBasic Summarizer. I looked at the code. It turns out the stop_words attribute is not defined in the summarizer class. I guess that is an error. If so, could you please look into it.

[2016-10-17 11:26] miso-belica commented on #69
@meetsha Thanks for the report, I'll take a look.

[2016-10-17 20:33] OmegaPhil opened #70 "Summarising a 'narrative' rather than a well-formed topic"
Not a problem but more a cheeky question to leech some of your knowledge - playing around with this text summarisation, it appears to be able to deal OK with something like a wiki article, but falls apart when given a forum thread - I assume its the difference between an article which is a 100% 'final understanding' of one or more topics, rather than a forum thread where understanding builds hopef

[2016-11-15 20:07] marcejohnson opened #71 "pip installation of latest broken"
`readme.rst` does not exist although `setup.py` tries to open it, resulting in this error.

Here is the errant line:
https://github.com/miso-belica/sumy/blob/dev/setup.py#L14

Here is the pull request to fix this:

https://github.com/miso-belica/sumy/pull/72

[2016-11-17 10:25] #71 closed

[2016-11-17 10:45] miso-belica commented on #66
This was fixed in c382a42, thanks and nice day :)

[2016-11-17 10:45] #66 closed

[2016-11-17 11:28] #69 closed

[2016-12-16 19:44] amirouche opened #76 "How do you test the summarizer?"
Do you use a particular dataset?

[2016-12-21 11:04] HerocypheR commented on #65
@kamikater34 maybe i can explain something about it.

U should use like that syntax :

sumy_eval lsa C:\Users\zer03\a.txt --file=C:\Users\zer03\b.txt --format=plaintext

(sumy_eval) + ("lsa" or "lex-rank"..etc.) + (referencee summary txt path) + ( if ur candidate summary in local txt : --file <path>   or if ur txt in url --url:<urladres>) + (--format= "plaintext" or "html" ).
..

its work great on

[2016-12-21 11:12] HerocypheR opened #77 "ROUGE-L (Summary Level) how it works ?"
Hi master. firstly im very grateful for that python implementation.. But i didnt understand how Summary Level ROUGE-L works via code ?

sentence level type of rouge, we can use more than a sentence for candidate summary.. After that we compute lcs reference summary - Candidate Sentence_1 and Candidate Sentence_2 respectively.

when i try to use it on command prompt, how i do write it ?

or how sho

[2016-12-28 20:11] vgoklani opened #78 "Sentence Compression?"
Hi - do you have any implementations that do sentence compression?

[2017-01-22 08:23] hnchan opened #80 "GAE ready"
Can we make it be GAE ready? When I execute under GAE, it shows the following error.

[code]

[2017-01-22 13:04] miso-belica commented on #80
Hi, sorry, but without knowing what are you executing I can't help you. Also it seems that you have problem with some part of NLTK library from the stacktrace and that is something out of the scope of this library. Maybe if you can provide some usefull info about your problem I can help you.

I guess you mean Google App Engine by GAE.

[2017-01-23 07:34] hnchan commented on #80
Yes, it should be the error from nltk and GAE means Google App Engine. Let me try to search can I fix it and will update here if I got some info.

[2017-01-29 14:13] miso-belica commented on #80
@hnchan
1. So have you found the fix for this?
2. Is this still an issue for you?
3. Do you still think it's sumy's issue?
4. If it's sumy's issue can you provide some minimal example that is not working?

[2017-01-29 14:14] miso-belica commented on #78
@vgoklani Hi, there are only extractive approaches in sumy currently. Sorry. But PRs are welcome the same as ideas/requests for new summarization methods ;)

[2017-01-29 14:22] miso-belica commented on #76
@amirouche Hi, I have unit tests in place but from what I understand you are asking on "testing" in meaning of summarizer evaluation, right?

Sumy is not in active development for 2 years now. I am fixing issues when I can, accept PRs but I am not adding new features/summarizes, nor improving summarizers. In the time I was building this lib I have used my custom datasets with target to czech langu

[2017-01-29 14:28] miso-belica commented on #70
@OmegaPhil Yes you are right. Of course it depends on used summary method and many other aspects, but sumy is intended to summarize text of certain topic(s) not threads with many different comments and I didn't test it for such a task.

But still I don't think it is light years beyound sumy's capabilities. It's just about doing some tests and research and maybe tweak some parameters of summarizato

[2017-01-29 14:35] miso-belica commented on #65
@kamikater34 It's quite simple. You just need to have reference summary to evaluate summarization method (result of the merhod). This reference summary may be written by you or another summarization system. The you pass the reference summary to the `sumy_eval` and sumy creates new summary and combares it with reference summary.

This assumes your reference summary has very good quality and mostly

[2017-01-29 17:20] hnchan commented on #80
1. Haven't.
2. Yes.
3. No. it is just nltk library issue which won't support GAE. When it execute this line, /lib/nltk/tag/hunpos.py", line 16, in <module>, it failed.
4. I am thinking to give up GAE standard env and use flexible env which allows us to create sub-process, so it may solve this problem

[2017-02-06 06:59] dawntcherian opened #81 "Getting error while summarizing URLs."
When I am trying to pass  any URLs with host-name "techcrunch.com", am getting an error in the code
`parser = HtmlParser.from_url(url, Tokenizer(settings.LANGUAGE))`
saying that _SSLError: hostname 'techcrunch.com' doesn't match either of '*.wordpress.com', 'wordpress.com'_

[2017-02-06 07:14] miso-belica commented on #81
Hi can you provide the stacktrace of the error? IMHO this is problem in requests library.

[2017-02-06 08:31] dawntcherian commented on #81
[code]

[2017-02-09 07:12] elvislili opened #82 "question: LexRank does not work when the number of sentences is smaller than 20"
I have tried to use the LexRank algorithm to summarize articles.  However, it does not work when the number of sentences of the article is very short, such as below 20.  It only extracts the sentences according to the order of the article and makes those sentences becoming the summary.

[2017-02-09 07:42] miso-belica commented on #82
Hi, can you provide me example article and how do you use sumy?

[2017-02-09 08:00] elvislili commented on #82
I have figured it out.  I misunderstood the mechanisms of LexRank.  I am so sorry to ask such a silly question.  Anyway, thank you for developing Sumy!!

[2017-02-09 08:00] #82 closed

[2017-02-10 11:51] dawntcherian commented on #81
Solved the issue by upgrading requests library to 2.13.0 and installing ndg-httpsclient.
[code]

[2017-02-17 08:31] mickelfeng opened #83 "does it support chinese?"
I tried to set the variable "LANGUAGE = "chinese"" ,but it does not work, gives error.

[2017-02-17 12:56] miso-belica commented on #83
Hi, currently sumy does not support chinese language. IMHO should be done similar way as in https://github.com/miso-belica/sumy/pull/79. Feel free to send PR to add chinese support :)

[2017-03-05 11:04] miso-belica commented on #80
Closing this as not related to sumy and wish you good luck :)

[2017-03-05 11:04] #80 closed

[2017-03-07 08:33] Zhujunnan opened #87 "Some questions about the textrank"
Hi, I have a question about the textrank module. As I know, the textrank  is based on the pagerank algorithm. However, in the text_rank.py file, I just see the code which builds edges between sentences and don't seem to use iterative solution to calculate it.  I don't know if I understand correctly, I am looking forward to your answer. Thx!

[2017-03-25 10:29] #81 closed

[2017-03-25 10:29] #78 closed

[2017-03-25 10:30] #76 closed

[2017-03-25 10:31] #65 closed

[2017-03-25 10:31] #70 closed

[2017-03-25 10:32] #83 closed

[2017-05-15 14:50] hernhern opened #90 "Cannot import name PlaintextParser"
from sumy.parsers.html import PlaintextParser

ImportError: cannot import name PlaintextParser (or Tokenizer etc)

I've already tried pip uninstall and reinstalling, no, my script name is not sumy.

Python 2.7, on mac. Thanks for helping!

[2017-05-15 15:00] miso-belica commented on #90
If name of your script is not `sumy.py` I have no idea. Sorry. Try `pip2 freeze | grep sumy`. If the package is there, try to look at source codes placed in directory with installed modules.

[2017-06-28 19:27] Mustyy opened #91 "stopwords not working"
Hey
So I have reading in a text file of sentences
and when i do --stopwords=english.txt
it does not remove the stopwords, some are lower case and some are upper case

any ideas what i am doing wrong?

[2017-07-14 19:24] miso-belica commented on #90
@hernhern Did you find the solution for your problem? Where was the catch?

[2017-07-14 19:26] miso-belica commented on #91
Hi @Mustyy can you provide me the whole CLI command you are executing and also some text that is causing mentioned issues?

[2017-07-19 02:58] astropeak opened #92 "Support Chinese document"
Hello,

I tested the software and find it not support Chinese. Do you have any plan to support Chinese document? Thank you!

BR,
Astropeak

[2017-07-19 07:50] miso-belica commented on #92
Yes there was https://github.com/miso-belica/sumy/issues/83#issuecomment-280641854 for this already. I don't plan to add support but if you need it I would appreciate it and can help you with it. Also https://github.com/miso-belica/sumy/pull/79 is good inspiration for you :)

[2017-07-19 09:43] astropeak commented on #92
I will work on this. The solution for Chinese should be much similar to Japanese.

[2017-07-22 14:44] miso-belica commented on #92
@astropeak added support in https://github.com/miso-belica/sumy/pull/93 Thanks again

[2017-07-22 14:44] #92 closed

[2017-07-22 14:44] miso-belica commented on #83
@astropeak added support for chinese in https://github.com/miso-belica/sumy/pull/93 :)

[2017-07-24 18:55] kariminf commented on #87
Hi,
In [this paper](https://web.eecs.umich.edu/~mihalcea/papers/mihalcea.emnlp04.pdf) it is stated that texRank uses iterations till it converges.

When seeing the code I had the same question.

Regards

[2017-07-27 15:18] vineysindhu opened #94 "Help with creating parser object from pandas dataframe"
@miso-belica

Hi Miso

I am new to python. I am trying to summarize data which I have in mysql table. I  am reading that data in pandas dataframe and creating a list from the column which needs to be summarized. Can you please help me on how to create a object from pandas dataframe column that is similar to below object.
`parser = PlaintextParser.from_file(r"....\document.txt", Tokenizer(LANGUAGE)

[2017-07-27 15:35] miso-belica commented on #94
Hi, from what I can see path to the file `....\document.txt` seems very suspicious and that's probably the issue. Without stacktrace or something else to test I can't help more.

[2017-07-27 15:39] vineysindhu commented on #94
Thank you for your quick response. That was just an example, not an actual path. My actual data which I want to summarize is in pandas dataframe. I want to summarize data from pandas dataframe column, rahter then a text file or HTML file.

[2017-07-27 15:41] vineysindhu commented on #94
I tried to write data from pandas dataframe to a text file and then summarize it. It worked fine, however I want to remove that step of writing data to a text file and then reading it, because it is adding input and output step which inturn increase the running time of the program.

[2017-07-27 16:03] miso-belica commented on #94
And `PlaintextParser.from_string(frame["text"], Tokenizer(LANGUAGE))` does not work? As I said. If you don't give me the code that is not working with the stacktrace you get, I can't help you.

[2017-07-27 16:06] vineysindhu commented on #94
parser = PlaintextParser.from_file(agr_corn['post_message'], Tokenizer(LANGUAGE))

parser = PlaintextParser.from_file(agr_corn['post_message'], Tokenizer(LANGUAGE))
Traceback (most recent call last):

  File "<ipython-input-79-067a2ded8e15>", line 1, in <module>
    parser = PlaintextParser.from_file(agr_corn['post_message'], Tokenizer(LANGUAGE))

  File "C:\Users\viney.sindhu\AppData\Local\Contin

[2017-07-27 16:17] miso-belica commented on #94
I did not work with Pandas much, but you need to extract line from Series object. Something like

[code]

IMHO this is question to some pandas forum or other general programming forum about python. You should read documentation and just extract text for every row and then summarize it. Hope it was helpful.

[2017-07-27 16:17] #94 closed

[2017-07-27 18:00] vineysindhu commented on #94
Thanks Miso.

[2017-07-29 10:41] miso-belica commented on #90
Guess @hernhern is able to import parser now. Closing, because it works for me and seems nobody else has the same issue.

[2017-07-29 10:41] #90 closed

[2017-07-29 10:54] miso-belica commented on #87
Hi, guys this is tough question for me. I hough I'll find time to look at the code more deeply to answer but I guess I am just too naive. Honestly I don't remember the source paper for TextRank implementation and what is the worst there is no URL in docstring in class. I found the commit https://github.com/miso-belica/sumy/commit/80f7dfa7ce3c7e9ce9319fa7c45c06af7bb3c4fa and seems suspicious to me

[2017-07-30 09:35] kariminf commented on #87
Hi,
Even if it is not the method in that paper, it did a good job compared to other methods when tested on [MultiLing2015 training corpus](http://multiling.iit.demokritos.gr/pages/view/1540/task-mms-multi-document-summarization-data-and-information). Here are the results:

| Peer |  Rouge1-R | Rouge1-P | Rouge-F | Rouge2-R | Rouge2-P | Rouge2-F |
| --- |  --- | --- | --- | --- | --- | --- |
| KLSu

[2017-10-11 06:54] bitterhoneyy opened #95 "some questions about evaluation methods"
When I try `sumy_eval lex-rank reference_summary.txt --url=http://en.wikipedia.org/wiki/Automatic_summarization`, it returns:

[code]

Also I can't find  lsa reference_summary.txt and edmundson reference_summary.txt, what should I do?

[2017-10-11 10:03] miso-belica commented on #95
Hi, you should create these files. These files contains reference summary. You can create it by some another system or by hand.

[2017-11-26 21:06] workflowsguy opened #96 "Missing stopwords for german language"
When running `sumy` 0.7.0 with the following command line

`sumy lex-rank --lang=de --file="Test-Deutsch.txt"`

the following error is displayed:

[code]

[2017-11-27 08:45] miso-belica commented on #96
Hi, try `sumy lex-rank --lang=german --file="Test-Deutsch.txt"` and it should work :)

[2017-11-27 15:43] workflowsguy commented on #96
Thank you for pointing this out.

It would be great if the language parameters could be given as their ISO 639-1 abbreviations. This would improve interoperability with other tools like e.g. Apache's Tika, which returns the detected language of a file as the above-mentioned language code.

Thanks!

[2017-11-27 16:15] workflowsguy opened #97 "Not all german sentences split correctly"
When throwing various german texts at `sumy`, I noticed that some sentence boundaries are not detected.

This shows e.g. in the following summary output:

`»Die Übergabe fand immer bar in der Hauptkasse statt.« Am 31. August bzw. 21. November 2012 holte sie 7000 bzw. 7500 Euro ab.`

This should actually be two sentences, split at the `.«` I also noticed some other cases where typographical quotes

[2017-11-27 17:02] miso-belica commented on #97
Hi, sumy is using NLTK framework to split sentences. If you know some better library to do this feel free to contribute to sumy :) Or you can just create your own tokenizer and use it with sumy. It's [simple class](https://github.com/miso-belica/sumy/blob/dev/sumy/nlp/tokenizers.py#L37) with two methods `to_sentences` and `to_words`.

[2017-11-28 10:30] workflowsguy commented on #97
Hello,

as I also encounter this issue in other tools that build upon NLTK, I think the better solution is to have this addressed in NLTK itself. So I have opened a request there; let's see what the view of the NLTK people is.

[2017-11-28 10:50] miso-belica commented on #97
Thanks :) https://github.com/nltk/nltk/issues/1903

[2017-11-28 10:50] #97 closed

[2017-12-21 10:12] 258513813 opened #98 "Why can't import sumy by ide"
In ide sush as ： ecplise、Pycharm occur the problem：
from sumy.parsers.html import HtmlParser
error： ModuleNotFoundError: No module named 'sumy.parsers'; 'sumy' is not a package

 but in cmd，  from sumy.parsers.html import HtmlParser is work well

[2017-12-21 12:48] miso-belica commented on #98
To be honest, I have no idea why it does not work. I am happy user of Intellij IDEA and it is fine for me. Maybe you need to set some PATH variable or so. But this is more IDE specific problem than issue in sumy so I am closing this issue. Hope you'll find the solution for your problem :)

[2017-12-21 12:48] #98 closed

[2018-01-08 08:58] 258513813 commented on #98
Thanks for your answer， I can't understand is that others lib import and were worked well， just sumy， so  ...

[2018-01-10 04:25] smileboywtu opened #99 "[chinese] chinese paragraph splitlines error"
chinese long text may not use \r\n, may be some stop word in a paragraph, but it a new line, in chinese splitline means split paragraph, so need customer way for each language to implement splitlines.

[2018-01-10 06:31] miso-belica commented on #99
Sorry, but I don't understand where is the problem and what is expected behavior. Can you please write an example with current behavior and expected one and descibe them? Thanks

[2018-01-10 06:34] smileboywtu commented on #99
https://zhidao.baidu.com/question/554645964292309132.html?fr=iks&word=6.%D6%D0%B9%FA%C0%FA%CA%B7%C9%CF%D6%F8%C3%FB%B5%C4%C1%CF%BE%D9%D6%C6%B6%C8%BF%AA%CA%BC%D3%DA%C4%C4%B8%F6%B3%AF%B4%FA%3F&ie=gbk

[2018-01-10 06:35] smileboywtu commented on #99
i parse the words inside this site, but the `parser.document.sentences` is `()` empty , so how can i normalize the text?

[2018-01-10 07:07] smileboywtu commented on #99
https://docs.python.org/3/library/stdtypes.html

`isupper` function will return `True` for chinese paragraph make all sentence in heading, so why?

i know how to fix it , but can't know why maybe a bug in python3

[2018-01-13 13:58] miso-belica commented on #99
Sorry, but it seems this is not related to sumy. I know nothing about Chinese text but seems like Python is not handling it correctly. It's no surprise. The most of the text utils in the programming world does not count with Chinese. I had similar experience with Arabic text and I needed special libraries/code to work properly with it. I suggest you to search the internet for "how to process Chine

[2018-01-19 11:03] miso-belica commented on #87
@kmkurn Any PR is welcome ;)

[2018-01-27 21:27] #95 closed

[2018-01-27 21:28] #99 closed

[2018-02-08 14:49] happyshivi commented on #43
Can you please provide the path for the get_bonus_words() function for this line
summarizer.bonus_words = get_bonus_words()

[2018-02-11 20:37] aburkov commented on #55
"I'll try to update README with that." said the author two years ago and never update the readme.

[2018-02-25 10:47] guojiangwei2 opened #101 "sum_basic may has an error"
line 108-109 in file`sum_basic.py`, sentences_as_words only compute once, while iteration the index of the best sentence is still the index of raw document sentences, but the `sentences_list` has been updated, so it will get the wrong index for the target sentence. maybe the sentences_as_words needs to be poped too.

[2018-02-25 10:48] #101 closed

[2018-02-25 14:44] miso-belica commented on #101
Hope, you closed this because you found out that I am doing it at line 115 https://github.com/miso-belica/sumy/blob/726e6c3a4b9fc8cbf8a29019a7b4c7500221005e/sumy/summarizers/sum_basic.py#L115 :)

[2018-02-27 01:05] guojiangwei2 commented on #101
yes, I found that line, thanks for answering. By the way, thanks for your awesome work.

[2018-03-20 08:01] guojiangwei2 opened #103 "breadability parse html documents is not stable"
I found that `breadablility` is not stable for picking target contents. related question link is posted [here](https://github.com/bookieio/breadability/issues/32), can you give me any suggestion a new library for the same purpose in python or fix `breadablilty`.

[2018-03-20 11:29] miso-belica commented on #103
Hi, as you correctly pointed out you have some problem with breadability library. Then why this duplicate issue in sumy? Is there anything wrong with sumy?

I don't know the better library. In times when I was searching for some I have picked bradability and enhanced it a little. I maintain also [jusText](https://github.com/miso-belica/jusText) which I tried to enhance but I think it's for differe

[2018-03-20 12:28] guojiangwei2 commented on #103
I comment [some lines](https://github.com/guojiangwei2/breadability/commit/a383c56c34131915189ce8a26db668846c5e4c51) in `breadblility` and fix the problem I mentioned before, but I don't confirm that I do the right thing, any comments will be appreciated, thx.

[2018-03-20 12:34] guojiangwei2 commented on #103
thx for your comments, since `sumy` use `breadablitity` to parse html content, so I linked it here for more chance to be answered.

[2018-03-20 12:35] miso-belica commented on #103
@guojiangwei2 Great, you can do the changes and send it as PR into breadability now. You can run tests there or just send PR and TravisCI do it for you :) And would be nice if you [allow to modify the code](https://help.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/#enabling-repository-maintainer-permissions-on-existing-pull-requests) to maintainers ;)

[2018-03-20 12:35] #103 closed

[2018-03-23 07:39] miso-belica opened #104 "Support only Markdown for PyPI"
When new warehouse will be deployed I can remove hacks with RST :)

https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi

[2018-03-26 16:25] c-w commented on #96
I agree that this would be a great feature and increase interoperability with other packages, @workflowsguy.

I've implemented this feature in https://github.com/miso-belica/sumy/pull/106, based on the [pycountry](https://pypi.python.org/pypi/pycountry) package.

After that change gets merged, you'll be able to pass ISO-639 two-letter codes (e.g.,"de") and three-letter codes (e.g., "ger") to speci

[2018-03-28 07:57] workflowsguy commented on #96
@c-w Great, Thanks!

[2018-03-30 19:57] #91 closed

[2018-03-30 20:02] miso-belica commented on #87
I am happy to inform you that @kmkurn provided new implementation for TextRank based on original paper in https://github.com/miso-belica/sumy/pull/100. So I am closing this issue. Feel free to create new one if needed or send PR with any proposal :) Thank you all

[2018-03-30 20:02] #87 closed

[2018-03-30 20:10] #96 closed

[2018-04-07 07:58] IsakZhang opened #107 "A question about computing term frequency in Lexrank"
Hi, i read the code of computing term frequency in LexRank: `metrics[term] = tf / max_tf`
I don't understand why do u divide the maximum count of word in that sentence rather than use the number of occurrences of the word in the sentence(described in the original lexrank paper), or just normalize it by dividing total count of all words?

[2018-04-10 22:59] ikelca opened #108 "running with chinese text"
it is a great tool, I found it by googling text summarization. While I tested with some chinese webpage using sumy lex-rank --length=10 --language='chinese' --url=xxxxxxx
it did not come out any result.
also tried with LSA, not result too,
just wondering, is this too supporting chinese ?

[2018-04-11 06:05] miso-belica commented on #108
@ikelca Hi, jop sumy should support Chinese. Support was added in https://github.com/miso-belica/sumy/pull/93. If you can provide me full command to execute or text you are trying to sumarize I can try to find the problem, but I don't speak Chinese so maybe I find just nothing. You can try to use sumy as library and find out if problem is in parser or in summarizer.

[2018-04-15 10:30] amitabz commented on #55
Hi,

Can you please add use case example for Edmundson summarizer in Python. it gives the same error as above.

[2018-05-05 15:57] #108 closed

[2018-05-27 19:03] miso-belica commented on #107
@IsakZhang Hi, it's tough question for me. I really don't remember why and if I diverted from the original paper. But I usually did such thing because I inspired somewhere else and it gave me the better results or I just did some experiments with better results.

[2018-05-27 19:14] miso-belica commented on #77
Hi, I don't understand you completely but I guess you just want to know format of reference summarization for ROUGE-L summary level? Because it's the same for all summaries. Its just text document. You don't need to place every sentence at separate line but you can if you want. Sumy [uses PlainTestParser](https://github.com/miso-belica/sumy/blob/dev/sumy/evaluation/__main__.py#L163) to parse refer

[2018-06-13 03:39] MonkandMonkey opened #109 "Performance when corpus is large"
My corpus contains 300 paragraphs, and the speed is slow. More than 30 mins.
Could you please introduce sumy's performance ? And which stage will make it slow when corpus is large.
Thanks!

[2018-06-13 07:50] miso-belica commented on #109
Hi, can you share the corpus and let me know exact command that is slow?

[2018-06-13 09:02] MonkandMonkey commented on #109
I am so sorry the corpus can't be shared due to its privacy. Here is the description of the corpus.
* lang: Chinese (I replace the default **jieba** tokenizer with ltp tokenizer to cut words.)
* Text format:
1.  Each line is a doc, and it may contains several sentences.
2.  Doc len varies from 10 to 2000+. (Because our corpus contains 'titles' and 'contents'.)
3.  Some sentences may be very long.

[2018-06-13 11:19] MonkandMonkey opened #110 "Heading in Chinese"
I found that sumy will distinguish **heading** and other sentences, so checked the source code and I found that:
Whether a line is **heading** is decided by **str.isupper()** function.
But in a str composed by Chinese characters, if it contains an uppercase alphabet, the isupper() will return True, but actually it is just a normal sentence instead of heading.

For example:
[code]

[2018-07-26 07:54] ArtificialNotImbecile commented on #110
This is indeed problematic when you have Chinese paragraphs with capital English letters in it. Good catch! Using `lower()` to preprocess Chinese would be a SAFE choice before this bug fixed.

[2018-07-27 16:22] yuquanle opened #111 "some problem about : PlaintextParser.from_string()"
Hi everyone:
      when i use this method :PlaintextParser.from_string(string_text, Tokenizer(LANGUAGE)), the result return [].

I have stitched text contentinto a string separated by symbols.
I also saw the format of the input data written in method PlaintextParser(), but I think that format is for the from_file() method.
But when I use the from_string() method, what should I do with my input for

[2018-07-29 09:12] yuquanle commented on #111
I have solve it.

[2018-07-29 09:12] #111 closed

[2018-09-26 20:57] isarth opened #112 "Runtime division error in Text Rank"
In Text rank Matrix weights are divided as :
-> weights /= weights.sum(axis=1)[:, numpy.newaxis]
The above command causes runtime division error when row is zero

[2018-09-27 21:28] miso-belica commented on #112
Thanks for the report. I will try check it.

[2018-09-28 15:20] isarth commented on #112
Changing it to the following
->  weights=weights/(numpy.sum(weights,axis=1)+epsilon )
Works fine !!

[2018-10-03 07:06] racindustries opened #113 "Register summarizer output to string variable"
Hi miso,

Using the python API I'd like to save the output of sumy summarizer to a string variable that i could analyse with ntlk, but I keep getting 'Setence' objects, which can't be used in nltk.

Could you help me here ?

Thanks a lot !

[2018-10-03 07:40] miso-belica commented on #113
Hi, these objects have `__str__` defined so you can use `str(sentence)` to get text or `unicode(sentence)` on Python 2.

[2018-10-16 11:55] AhmedAbuRaed opened #115 "UnicodeDecodeError"
Hi,
After running the example code I am getting `UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 579: character maps to <undefined>` when executing the following code.:
`parser= PlaintextParser.from_file(datasetPath + "/" + file, Tokenizer(LANGUAGE))`
I uploaded one of the files to recreate the problem
[C08-1031.txt](https://github.com/miso-belica/sumy/files/2482850/C08-1031

[2018-11-29 22:12] fahadshery commented on #112
this still hasn't been resolved

[2018-11-29 22:14] fahadshery commented on #2
How can I use spaCy's tokeniser models? Is there a detailed documentation of the package?

[2018-12-10 15:24] croqaz opened #116 "Incompatible latest pyCountry"
Hi ! The latest version of pycountry~=18.12.8 is incompatible with Sumy.

How to reproduce:
[code]

For versions pycountry~=18.5.26, the same lines:
[code]

I'm looking into a solution for this and I'll create a PR.

Unless somebody already has a solution for this and in this case, please do share 🙇

[2018-12-10 16:00] croqaz commented on #116
### Update

This can fix the problem in utils.py / normalize_language(language):

or

Now it only works with: normalize_language('en')

Before this, we had:

'english'

'english'

Not sure where it's the best place to fix this: in utils, or in the classes using the normalize_language function?

[2019-01-20 16:49] baruaranojoy opened #119 "PlaintextParser : TypeError"
[code]

gives `TypeError: 'module' object is not callable`
How to convert the `sentence_` to string for writing in a file?

[2019-01-30 21:38] jamal833 opened #120 "How to change Rouge parameters?"
In command 'sumy_eval random modsum/some_name.2.txt --language=english --file=docs/text.txt --format=plaintext ' How I can change different parameters of Rouge evaluation like -a -c 95 -b 665 -m -n 4 -w 1.2?

[2019-03-08 03:05] seven-linglx commented on #110
I encounter the same problem. And i rewrite the document() function in plaintext.py to deal with it.

[2019-03-08 07:30] miso-belica commented on #110
@seven-linglx Can you share your solution with us? Can you add here the code snippet?

[2019-03-08 10:01] seven-linglx commented on #110
Of course, it's my honor to share with everyone, this is my rewrite function:

[code]
In fact, maybe i don't solve this problem because i ignore the HEADING of document directly. In other words, it is suit the scene that there isn't HEADING in document, or you don't mind the program judge the HEADING as text.

### This is the document for test:
 1987年9月，以“民间科技企业”身份获深圳市工商局批准获得注册，注册资本2.1万元，员工14人，主要业

[2019-03-23 00:50] infosisio opened #121 "TextRank Too Heavy?"
It seems to be irrationally stressing the processor, while Lsa doesn't. What's up?

[2019-05-18 16:22] miso-belica commented on #112
Should be solved by https://github.com/miso-belica/sumy/pull/117

[2019-05-18 16:22] #112 closed

[2019-05-19 11:47] miso-belica commented on #121
Hi @infosisio, thanks for the report. Do you have some numbers? An example document(s) and the setting you are using? And what is your PC configuration? It's hard to tell more without the info. Also, I released a new version of Sumy yesterday and TextRank algorithm is completely changed there, can you test it and let us know here?

[2019-05-19 12:13] miso-belica commented on #116
Hi @croqaz, thanks for the detailed report and sorry for the very late response. This was solved in https://github.com/miso-belica/sumy/pull/118. I released Sumy v0.8 yesterday so please try to test the new version with all the fixes :)

[2019-05-19 12:13] #116 closed

[2019-05-19 13:01] miso-belica commented on #115
Hi @AhmedAbuRaed, thanks for the report and the suggested suggestion. Sorry for the really late reply. I fixed the issue in the connected PR and plan to release the fix after checking more issues.

[2019-05-19 13:01] #115 closed

[2019-05-19 13:04] miso-belica commented on #113
From the 👍 on my comment, I guess this works for you so I am going to close it here. But feel free to reopen if you need more info :)

[2019-05-19 13:04] #113 closed

[2019-05-19 13:07] miso-belica commented on #104
This works from v0.8 🎉 It was done in https://github.com/miso-belica/sumy/pull/122/commits/5812ac7f134988c9d2415ad46662728186c431c4 and https://github.com/miso-belica/sumy/commit/fe28061133a3cd35f05067d48067c31c1f34c08a

[2019-05-19 13:07] #104 closed

[2019-05-19 13:24] miso-belica commented on #119
Hi @baruaranojoy, I updated [the example in README](https://github.com/miso-belica/sumy#python-api) with link to Wikipedia and it's working again :) I tried to reproduce your issue but I am not successful. I am afraid that without more code from you I am not able to help you. But from the error message, I guess that `summarizer` is imported module and not `Summarizer` object and that's the problem

[2019-05-19 13:24] #119 closed

[2019-05-19 13:33] miso-belica commented on #120
Hi @jamal833, I am afraid you can't change them. I don't know where your args `-a -c 95 -b 665 -m -n 4 -w 1.2` come from but feel free to define such functionality here and maybe create PR but I am afraid that because there are many evaluation methods this would lead to really many parameters. Maybe you can use the evaluation algorithms from Python script with your own tweaks.

[2019-05-19 14:04] miso-belica commented on #110
Thank you all. I think this is more tricky. I tried to [find out some solution](https://chinese.stackexchange.com/questions/10753/capitalization-in-chinese) but seems I should introduce a new parser. Maybe `MarkdownParser` and let `PlaintextParser` really **plain** text but some summarizers use headings to give you better results. Or I could introduce some new parser for common annotated texts use

[2019-05-22 07:27] seven-linglx commented on #110
I am agree with you that let PlaintextParser really plain text, but you can provide a optional API in PlaintextParser that appoint the HEADING of plain text, instead of detect by PlaintextParser because the text with ideal format is difficult. let this work decided by user is better than introduce a new parser.

About your doubt:
1. In my opinion, there are not common method to detect heading. In

[2019-06-20 05:29] gigatesseract opened #124 "Proxy"
For testing the sumy tool, is it possible to use proxy for downloading the articles?

[2019-07-13 19:21] ravikant987 commented on #9
Sir thanks for share this code.
please tell me, i want to take a database text directly with query then what is the procedure to write  code for that database data to be summarize in spite of
parser = PlaintextParser.from_file("document.txt", Tokenizer(LANGUAGE))

[2019-07-16 04:51] Arvedek opened #125 "Tune Parameter?"
May I know which params to tune in Textrank and Lexpagerank?

[2019-07-24 12:30] VitMichalek opened #126 "Error in install"
[code]

[2019-07-29 22:20] bdalal opened #127 "Stemmer not invoked for sumbasic"
Is there a reason, the stemmer is not being invoked in the SumBasicSummarizer?

[2019-07-29 22:24] bdalal commented on #127
If it's been missed out, I'm happy to create a PR with the addition of stemmers to SumBasic

[2019-08-01 14:59] dorianve opened #128 "ZeroDivisionError Rouge-L summary level"
Hello,

I have had some ZeroDivisionErrors trying to get the Rouge-L summary level score for one of my data.

The problem was in the function _union_lcs of rouge.py where the "union longest common subsequence count" was divided by the "combined LCS length".

I added the case when combined_lcs_length was equal to 0 to return 0, and it's working fine now.
(I mean, I added that case locally, I cannot

[2019-08-02 07:31] dorianve commented on #128
The same goes for `def _f_lcs(...)` where `denom` could be 0. So I also added :

[code]

[2019-09-01 14:26] miso-belica commented on #124
Hi @gigatesseract of course, you can use any tool. For example https://2.python-requests.org/en/master/user/advanced/#proxies and give to the sumy only `response.text` :)

[2019-09-01 14:30] miso-belica commented on #125
Hi @Arvedek, this is a really tough question. It's like to ask me which params to tune on your new PC :) I think it heavily depends on what you want to achieve and what data you are working with. I am afraid you need to experiment with this on your own.

[2019-09-01 14:34] miso-belica commented on #126
Hi @VitMichalek, I am afraid I don't have any useful advice for you. From what I remember you are the 1st one with this problem and from `error in NLTK setup command` I guess it's something with your NLTK installation. If you already resolved the issue it would be nice to write the solution here, but unfortunately, I can't help you more.

[2019-09-01 14:43] miso-belica commented on #127
Hi @bdalal, seems you are right. I briefly skimmed the implementation and I can't see any stemmer there. Maybe it should be called in `_normalize_words` method but I would need more deep look to the summarizer. If you can prepare the PR I will be happy to do the review :)

[2019-09-01 14:46] miso-belica commented on #128
Hi @dorianve, can you attach some simple test to reproduce this? Or maybe create a PR with the test and a fix? You can't update the repository, but you are welcome to send me a PR :)

[2019-09-04 21:02] traverseda commented on #55
You can see where the CLI tool initialized itself [here](https://github.com/miso-belica/sumy/blob/master/sumy/__main__.py#L120).

[code]

[2019-09-06 06:50] Arvedek commented on #125
Haha, yeah I also realize that. Thanks for the package, smooth and effective.

[2019-10-14 01:23] bdalal commented on #127
Created PR https://github.com/miso-belica/sumy/pull/131

[2019-10-28 10:40] #127 closed

[2019-10-28 10:40] #126 closed

[2019-10-28 10:43] #124 closed

[2019-10-28 10:44] #125 closed

[2019-11-20 12:09] syedsadiqalinaqvi opened #132 "Documentation Site?"
Hi,

Thank you for the package. It seems to be very useful for working with Extractive Summarization methods. Considering the popularity of the package, I was expecting it to have a proper documentation site like other famous packages. It seems like currently, the README file is the only available documentation. That can't be true, right? While the README is a good place to get a gist of the funct

[2019-11-21 07:24] miso-belica commented on #132
Hi @syedsadiqalinaqvi thanks for the issues. I have to admit there is nothing except for the README file. But as you said, I should dedicate really more time for all the issues and documentation. Thank you for the little push :)

Also, you are not the first one https://github.com/miso-belica/sumy/issues/55 😐

[2019-11-21 10:28] syedsadiqalinaqvi commented on #132
Hey, @miso-belica thanks for the quick response. Really appreciate that you're taking this matter seriously. Of course, since this is an open-source project, so some responsibility does lie with the users of the project as well. Please let us know if we can help with this task.

[2019-11-21 11:04] syedsadiqalinaqvi commented on #132
I'm going to use this comment as a list of items that need documentation. (Please let me know if you feel like that's spamming so I'll take this list someplace else.)

- Tokenizer
- Parser (PlainTextParser)
- Stemmer
- LexRankSummarizer
- Sentence (Summarizers return summary that's a collection of Sentence type objects)
- (more to come)

[2019-11-29 11:24] syedsadiqalinaqvi commented on #132
@miso-belica  can you please give a quick and dirty example of how to use the evaluation metrics?

For example, assume that you have generated a ```summary``` from one of the summarizers. Also assume that you have a ```reference``` summary as a string or a list of sentences (whatever the current API prefers). How would you compute, let's say, rouge 1 score? I can see the use of command-line utilit

[2019-12-04 20:09] miso-belica commented on #132
To be honest I never intended the evaluation to be used from API. It was CLI tool to test various methods. But the API is quite simple. All you need is in the file for the CLI.
1. [Feed the parser](https://github.com/miso-belica/sumy/blob/947178f5e9b95a29dfb3fa047f9990cdb8aac6fc/sumy/evaluation/__main__.py#L163) with your `reference`.
2. [Choose](https://github.com/miso-belica/sumy/blob/947178f5e9

[2019-12-05 06:26] syedsadiqalinaqvi commented on #132
Thank you so much for the links! Really helpful!

[2019-12-06 16:52] gigatesseract commented on #124
I tried the above in my work environment, it wasn't working. I guess the proxy settings there were messed up. It works out of my work environment, though :smile:

[2019-12-11 16:48] #55 closed

[2019-12-11 16:48] #132 closed

[2019-12-14 11:57] ShrikanthSingh opened #135 "Bypass parser"
In the sample code the sumy takes the input from the text file stored on a memory. But how can I bypass the parser and feed a list of preprocessed document. Becasue I want to generate ground truth using sumy which will be compared with the ouput of my LSA implementation to calculate the Rogue scores.
At present I am writing the preprocessed document to a .txt file and then importing it to the sumy

[2019-12-14 12:07] ShrikanthSingh commented on #135
Changing the code:
**From:** parser = PlaintextParser.from_file("document.txt", Tokenizer(LANGUAGE))
**To:** parser = PlaintextParser.from_string(string_type_sentences, Tokenizer(LANGUAGE))
Worked out.

[2019-12-14 12:07] #135 closed

[2019-12-16 20:08] #62 closed

[2020-02-10 12:44] TsvetanRangelov opened #137 "How to extend current implementation to give more focus on specific sentences containing name entities."
I love the current project, but I was wondering if there was an easy way to boost the scores of sentences with named organizations contained in them? For my use case, I need to have the main topic company/organization mentioned in the input document also exist in the summary. I can extract the NERs fine and identify them, just not sure what the easiest way to approach boosting the scores of those

[2020-02-11 20:41] miso-belica commented on #137
Hi @TsvetanRangelov, thanks for the nice words :) I guess the one summarizer for the job would be [Edmundson](https://miso-belica.github.io/sumy/summarizators.html) where you can add `bonus_words` to the named entities to prefer the sentences with them. But I don't if it will not lead to prefer the sentences too much. I think you should try. I would love about the results though :) Let me know if

[2020-02-12 09:15] TsvetanRangelov commented on #137
Thank you so much, I will report how it goes!

[2020-02-12 09:15] #137 closed

[2020-02-12 13:27] TsvetanRangelov commented on #137
It doesn't seem to do that well right off the bat. I might make a branch and expose bonus_word_value as well as fix the typo "bunus_word_value" :). For my use case, if it doesn't work, I might consider some other methods like filtering sentences that do not contain Named Entities.

[2020-02-23 17:03] miso-belica commented on #121
Hi @infosisio, I recently merged some changes into the master. You can review them at https://github.com/miso-belica/sumy/pull/140 Maybe you could try Sumy with them if it's better ;)

[2020-02-27 07:11] vprelovac opened #141 "Tokenizer/Stemmer and few other questions"
Hey Mišo

I spent a lot of time on text rank and while digging deeper into Sumy I want to ask you a few clarifying questions about some of the choices you made: This is all for English language.

1) _WORD_PATTERN = re.compile(r"^[^\W\d_]+$", re.UNICODE)

Used with word_tokenize() to filter 'non-word' words. The problem is it "kills" words like "data-mining" or "sugar-free". Also word_tokenize is v

[2020-02-29 19:47] timgates42 opened #142 "Fix simple typo: referene -> reference"
There is a small typo in sumy/evaluation/rouge.py.
Should read `reference` rather than `referene`.

[2020-03-01 20:30] #142 closed

[2020-03-04 16:13] miso-belica commented on #141
Hi Vladimir, I think you know the code more than me because [TextRank was not contributed](https://github.com/miso-belica/sumy/pull/100) by me. At least not the current implementation. But I will try to check the code and respond to your questions.

1. I am not against to replace the implementation with the simpler/faster one, but the tokenizing is not always about the regexes. There are other lan

[2020-03-04 18:31] vprelovac commented on #141
1. I agree it is complex. However you already decided to use regex approach for english, and my point is that the regex I provided is higher quality and faster overall.

note: Your tweaked version would leave lonely dashes floating.

2. Fair enough

3. Sharing my current stop-words
[code]
4. Yes but that is wrong as these are clearly four sentences.

Thanks!

[2020-03-05 06:34] miso-belica commented on #141
1. It's not completely true. Sumy uses `nltk.word_tokenize` and the regex is used only to filter some words out. You are right it should not filter some words with `-` or `'` probably, but your version removes the NLTK completely and relies only on regex, and I am not sure this is OK for me. Especially when it's not hard to implement and use custom tokenizer with Sumy. Anyway, thanks for the info

[2020-03-13 19:14] TobyVries opened #145 "Calling the rouge_n gets an error"
I'm trying to call the `rouge_n` function and passing two strings into it, however, that leads to me getting a `ValueError: Object in collection must be of type Sentence`. If I try to pass two Sentence objects containing the strings instead I then get this error. `TypeError: object of type 'Sentence' has no len()`. Any help is appreciated.

[2020-03-14 08:22] miso-belica commented on #145
Hi @TobyVries I guess you already found the solution. My guess is that you provided empty sentences, but it would be nice if you provide more info so even others with the same problem can find your solution useful :)

The relevant code is at https://github.com/miso-belica/sumy/blob/516d5bd2e29d2e8d8eda37eb05c0c8670a866fb3/sumy/evaluation/rouge.py#L123

[2020-03-14 08:40] TobyVries commented on #145
Unfortunately I wasn't able to find the solution. When creating the Sentence objects I would pass in either the reference or evaluation sentence along with a DefaultWordTokenizer object. This would then result in the TypeError where sentence has no length. Here's the code that I'm using.

    token = DefaultWordTokenizer()
    tr_sentence = Sentence(rouge_textrank_summary, token)
    human_sentenc

[2020-03-14 09:33] miso-belica commented on #145
@TobyVries OK, now I see it. The problem is that the method accepts a collection of sentences, not a single sentence. You can see the usage example in the test https://github.com/miso-belica/sumy/blob/5773ea6ada1b4b51985ce9fef45b0be5dcffabcb/tests/test_evaluation/test_evaluation_rouge.py#L59-L72.

For you I this you should simply wrap the sentences into the list (or any other collection).

[code]

[2020-03-14 10:00] TobyVries commented on #145
That seemed to fix the error but I also had to change
    token = DefaultWordTokenizer()
into
    token = Tokenizer('english')
Now it seems to fully work so thank you for your help!

[2020-03-14 10:00] #145 closed

[2020-03-21 18:35] #121 closed

[2020-04-01 20:14] xodarap777 opened #146 "Summaries are the same for reversed-order sentences"
I tested the LSA, KL, TextRank, LexRank, and SumBasic summarizers on a 10,000-word-ish document with wide-ranging internal topics.  I tested them on the document as-is and also with its sentences parsed in reverse order.  I double-checked the order of sentences by printing out the result of the summarizers with a max sentence count larger than the total.

The problem is that the results of any siz

[2020-04-26 09:30] miso-belica commented on #146
Hi @xodarap777, to be honest, I am quite confused. For example I don't understand what you mean by *printing out the result of the summarizers with a max sentence count larger than the total*. Can you maybe provide one example document with the code you use and write what the actual and expected result is/should be? I understand it as follows:

[code]

As you can see in https://github.com/miso-bel

[2020-08-15 09:32] #146 closed

[2020-08-21 08:19] alkakhurana opened #147 "Need Python API for TextRank and LexRank"
Hi,

I need Python API for TextRank and LexRank algorithms implemented in your project. I have to read document from my system rather than summarizing any webpage.

Thanks

[2020-08-25 17:58] alkakhurana commented on #147
Hi,

I need python API for TextRank and LexRank urgently (in sumy). Will it be possible for you?

Thanks in advance

[2020-08-25 19:41] miso-belica commented on #147
Hi @alkakhurana , sorry but it is not possible for me. But I believe it is possible for you 🙂 You can find the API example in README and the documentation. I believe it is what you are searching for.

Have a nice day 🙂

[2020-09-08 18:26] cdcv opened #149 "Errors on fresh install"
Did a fresh install on a Mac following instructions given:
[code]

After, running sumy produces errors, eg:

[code]

Help appreciated.  Thanks!

[2020-09-10 20:44] miso-belica commented on #149
Hi @cdcv it seems that you have installed a version of the NLTK package that does not support Python 2. You should probably search for the last NLTK package with Python 2 support and downgrade or better [you should upgrade to Python 3](https://docs.python-guide.org/starting/install3/osx/).

Sumy should still support Python 2 but a lot of its dependencies do not so it could be tricky. I plan to dro

[2020-09-10 20:44] #149 closed

[2020-09-10 20:45] miso-belica commented on #147
Hope you found it in the README :)

[2020-09-10 20:45] #147 closed

[2020-09-10 21:07] cdcv commented on #149
Thanks miso-belica.  I also have python 3.8.5 installed.  What is the correct command to use sumy w python 3 rather than 2?  Thx again!

[2020-09-11 08:22] lubani opened #150 "Adding Hebrew Language"
hello, I tried to add the Hebrew language. I found hebrew tokenizer and added a null stemmer for hebrew (though I did find a hebrew stemmer too).
It doesn't print out anything if i try setting the language to hebrew (I included a sumy_example.py file)
Here is the Hebrew Tokenizer: https://github.com/YontiLevin/Hebrew-Tokenizer
Here is another Hebrew tokenizer: https://github.com/ygurman/hebrew_tok

[2020-09-12 13:20] miso-belica commented on #150
Hi @lubani can you please send me a pull request instead of gzip archive? It is much more effective to review your changes here at GitHub. I am sorry, but I am not in the mood to check the archive and hunt for changes there.

But I checked your sumy_example.py and it seems just a simple copy-paste from the README so it should work. I think the problem will be somewhere in the implementation of the

[2020-09-12 13:24] lubani commented on #150
I'm currently working on making it work.
I will send you a pull request when I will be done.
Thanks for your help

On Sat, Sep 12, 2020, 16:20 Mišo Belica <notifications@github.com> wrote:

[2020-09-25 11:29] #150 closed

[2020-09-30 16:26] lubani commented on #150
I made my Hebrew Summarizer and created a repository on Github:
https://github.com/lubani/HebrewSumy

[2020-11-19 14:48] spate141 opened #152 "AssertionError with adding a new Tokenizer!"
- I'm trying to add a new `Tokenizer` and was trying to understand how can I do that. I saw the example mentioned in documents and while trying that approach, I got following error. Any suggestion on adding a new Tokenizer?
### Code:

[code]

### Error:
[code]

[2020-11-20 10:37] miso-belica commented on #152
It seems that one of the sentences is empty. You should not returns such sentences. Try this:

[code]

[2020-11-20 21:35] spate141 commented on #152
Thanks, this solves the issue!

[2020-11-20 22:47] miso-belica commented on #152
Great, I am going to open it because I could improve it and ignore empty sentences instead of forcing the users debugging what is wrong. Thanks for the report and have a nice weekend 🙂

[2020-11-21 17:08] #152 closed

[2020-11-22 19:46] spate141 commented on #152
Thanks for the quick fix! 🍻

[2021-03-17 19:01] RafaelWO opened #154 "Option for returning all sentences with ranked order"
First, I really like your project :)

What I stumpled accross is the following: I wanted to write a method that returns the top _n_ (_n_ = `return_top`) sentences using one of your summarizers, but also the "excluded" sentences:

[code]

Then I figured out that `summary` always contains the first `return_top` sentences in document order. This is due to [this line in `AbstractSummarizer`](https://g

[2021-03-18 17:06] DavMrc opened #155 "Support for list of pre-generated stems/lemmas"
Good morning
first of all I wanted to congratulate with you for this awesome repository, it really is very well made and the practical results are great, on top of being easy to achieve.
I was wondering: is there a way I can use a pre-processed list of strings, being stems or lemmas, with your example pipeline?

[2021-03-23 11:54] miso-belica commented on #155
Hi, yes. You can implement your own function that constructs `ObjectDocumentModel`. You can see inspiration in https://github.com/miso-belica/sumy/blob/master/sumy/parsers/plaintext.py#L60-L78 Then send it to the Summarizer and that's it. stop-words and even stemmer are optional parts so if you omit them the summarizer will process the raw `ObjectDocumentModel` it gets.

[2021-03-23 12:04] miso-belica commented on #154
Hi, unfortunately, there is no unified method to get this. For LSA method it's at https://github.com/miso-belica/sumy/blob/c948bc72ebd07dc4c4f41d905bab0de38163779c/sumy/summarizers/lsa.py#L47 but every summarization method is different internally so it gets the ranks differently. But if you look into `__call__` method of every summarized you will find it.

Thanks for the suggestion, but I don't th

[2021-03-25 06:51] RafaelWO commented on #154
Thanks for your answer!

Sure, each method calculates the ranks in a different way, but that's not what I was talking about. I meant that **after** the sentences are sorted via the algorithm's rank, the are re-sorted in **document-order**:
https://github.com/miso-belica/sumy/blob/c948bc72ebd07dc4c4f41d905bab0de38163779c/sumy/summarizers/_summarizer.py#L51
which makes sense, of course. But this mak

[2021-03-26 15:07] DavMrc commented on #155
Hi, thank you for your insight. By following your code, I saw that creating a `Sentence` requires a `Tokenizer`, which in my case would be redundant because I've got my tokens already.

Is it sufficient to change [line 69 and 75](https://github.com/miso-belica/sumy/blob/master/sumy/parsers/plaintext.py#L69) with `sentences = [Sentence(s, None) for s in current_paragraph]`?

[2021-03-29 14:40] miso-belica commented on #155
Well, I would avoid changing sumy unless it is really needed. You can rather implement your own tokenizer like this:

[code]

It simply returns your already tokenized data. I don't know the precise data structures you use but I believe you should omit/replace some parts of sumy and it will work without the modification of the sumy code. But I may be wrong, never worked with the case you described

[2021-03-29 14:50] miso-belica commented on #154
Yeah, I know what you mean. By _What do you try to achieve?_ I tried to find out why do you need it. Like a business use case for this. What is your motivation to do it? Because as I said there is no way how to do it currently, but if you are doing something that would be potentially bigger use-case (more people would find it useful) I could implement it somehow. OR you could send a PR. But if it'

[2021-03-30 05:41] RafaelWO commented on #154
I'm trying to list all sentences of a document according to importance :)

[2021-05-20 18:50] deepaksinghtopwal commented on #120
@miso-belica How can i evaluate the quality of summary (i.e. Rouge score etc.) if i am using Sumy an Non CLI command(i.e. sumy_test.py and ren running the script)?

[2021-06-01 11:26] deepaksinghtopwal opened #156 "Becomes slow with huge text"
it seems to work fine with small text data however when i tried to use the same for document(approx 2000 lines) , it became way too slow..
and took around 20 mins to summarize 50 documents.
So is there any parameter , specific algo which can be used to solve this issue.

[2021-06-02 09:28] miso-belica commented on #156
Hi, well, it's hard to say from the description. Can you provide the example text and the command/code you tried?

[2021-06-04 12:48] miso-belica commented on #120
Not sure what you are asking precisely but you can see examples in https://github.com/miso-belica/sumy/blob/master/sumy/evaluation/__main__.py

[2021-08-24 16:30] RakshaAg opened #159 "Word Limit instead of sentence limit"
Is it possible to provide a word limit instead of sentence limit for summarization?

[2021-08-30 02:04] SAMiddle opened #160 "Simplifying _get_best_sentences in kl.py"
Thank you first of all for your hard work. Just a couple of questions if you do not mind me asking:
- Are you aware of anyone who implemented kl.py in JAVA?
-  Is there a way of implementing "_get_best_sentences" without "SentenceInfo" and "ItemsCount"? I will appreciate it if you can explain the idea "_get_best_sentences".

My question is essentially as follows: say we have the "ratings", do we r

[2021-08-30 07:10] miso-belica commented on #160
You can see the implementation at https://github.com/miso-belica/sumy/blob/5715e526830936d75645fd73ae54a41a870113a2/sumy/summarizers/_summarizer.py#L35-L53. The idea is to pick best sentences but return them in the order as they appear in the original text.

[2021-08-31 01:29] SAMiddle commented on #160
Thanks for this. Thought it was something completely different

[2021-08-31 06:59] SAMiddle commented on #160
Out of curiosity, have you got the source code which identifies whether a sentence  is a heading or not (i.e. "is_heading")?
Thanks in advance

[2021-08-31 07:20] miso-belica commented on #160
Yes, `SentenceInfo` object has `Sentence` inside so you can get info about heading like this: `sentence_info.sentence.is_heading`.

[2021-08-31 22:54] guipaiva commented on #28
I'm unable to do like that example. It gives me en error:
TypeError: to_words() missing 1 required positional argument: 'sentence'

[2021-09-02 07:46] SAMiddle commented on #112
So is this line now `weights /= (weights.sum(axis=1)[:, numpy.newaxis]+self._delta)` dividing each entry in the matrix by the sum of the entries in the corresponding row (adding delta to this sum)? So if the sum is zero, then the result would be 10 million.

[2021-09-03 02:05] SAMiddle commented on #112
I am assuming that the thumbs up means that I am not extremely ignorant when it comes to understanding Python built-in functions

[2021-11-23 21:07] #159 closed

[2021-12-05 14:11] #154 closed

[2022-01-07 17:09] #160 closed

[2022-01-07 17:12] miso-belica commented on #156
ping @deepaksinghtopwal 🏓 🙂

[2022-01-19 19:44] nbertagnolli opened #162 "Would you be interested in adding more modern extractive summarization methods using things like BERT?"
I'm working on replacing sumy in an existing project with a BERT based summarization model.  Would you be interested in me making a PR which adds a BERTSummarizer class to this repository?  Basically using this: https://arxiv.org/pdf/1906.04165.pdf.  It would add a number of additional dependencies and wouldn't be compatible with python 2.7.  Just thought I'd offer while I was working on it : ).

[2022-01-20 08:31] miso-belica commented on #162
Hi, that would be great. Python 2.7 is dead so it's not a big problem for me. But if you send a PR please take a look at how dependencies are done for LSA or other summarizes and add them as optional. You can see it in https://github.com/miso-belica/sumy/blob/main/setup.py#L53-L58

[2022-01-20 17:32] nbertagnolli commented on #162
Will do!  I'll take a stab at this in the next week or two : ).  Thanks for the great library : )

[2022-02-04 05:53] aryan1107 opened #163 "Is it possible to get entire text from link?"
For example in newspaper python library you can do article.text for getting entire text.

Any similar command for sumy?

[2022-02-04 13:22] miso-belica commented on #163
Hi, sumy is not meant as an article parser. It's just a minor feature to ease the article summarization on the web. The algorithm is far from perfect and uses [breadability](https://github.com/bookieio/breadability). You should use the library for the text extraction as [newspaper](https://github.com/codelucas/newspaper), [justText](https://github.com/miso-belica/jusText) or alternatives in its re

[2022-02-04 22:27] #163 closed

[2022-02-05 06:58] aryan1107 opened #164 "How to summarize pdf link any idea?"
Many online summary tools like https://smmry.com/ have pdf link options. Any idea on how to extract text from pdf link. I tried PyPDF2 but it only works good when you open a file.

Do you know how one can extract from pdf link?

[2022-02-06 08:54] miso-belica commented on #164
Sorry, I have no experience with PDF extraction libraries but I am sure you find some for Python 😉

[2022-02-06 08:55] #164 closed

[2022-03-09 12:44] dennlinger commented on #162
Not sure if this is still up-to-date, but introducing BERT-like methods (or for that matter, any other NN), is also a bit trickier for the computational load.
Many of these approaches only work somewhat efficiently when having access to a GPU, and one of the key advantages of sumy in my opinion is that you *quickly* can get some summaries for a text :)

[2022-03-09 12:55] dennlinger opened #165 "`KeyError` in `SumBasicSummarizer`"
Hey, first of all, thanks for the great library!

I just encountered a bug with the `SumBasicSummarizer`, where it seems that the method looks up the document frequency of a stemmed word. However, the actual `word_freq_in_doc` dictionary only stores the frequencies for **unstemmed** words.

In particular, I believe that the culprit is the different normalization of content words between [`_get_con

[2022-03-09 22:32] miso-belica commented on #165
Thank you for the report and the detailed analysis 🙂

[2022-03-09 22:32] #165 closed

[2022-03-11 11:25] NC0DER opened #167 "Adding Greek Language support for Sumy"
Greetings,

I am a PhD Candidate and Greek native speaker. I wish to add support for the Greek language in your library.
Following the instructions of this [section](https://github.com/miso-belica/sumy/blob/main/docs/how-to-add-new-language.md) regarding the support of the new language, I implemented these steps.
However, for the stemming of Greek words, I utilized this [library](https://github.co

[2022-04-08 07:17] tomato-ga opened #170 "cannot import name 'Sequence' from 'collections'"
I tried to use sumy on Windows 10 / Python 3.10 and got an ImportError.

Is this a known issue?

[code]

[2022-04-08 08:01] #170 closed

[2022-04-09 15:27] miso-belica commented on #170
Yes, thank you. It was fixed in https://github.com/miso-belica/sumy/pull/161

[2022-04-19 15:40] kburchfiel opened #172 ""cannot import name 'Sequence' from 'collections'" error with Python 3.10"
I'm currently using Python 3.10.4. When I try to run:

`from sumy.parsers.plaintext import PlaintextParser`

I receive the following error:

`ImportError: cannot import name 'Sequence' from 'collections'`

Is there a way to resolve this, or will I need to wait for sumy to be updated?

[2022-04-21 21:07] miso-belica commented on #172
Hi, thank you. Yes, it seems it is duplicate of #170 and I should release a new version with the fix 🙂

[2022-04-21 22:13] miso-belica commented on #172
Should be working now if you run `pip install -U sumy` 🙂 It's fixed in version 0.10.0+

[2022-04-21 22:13] #172 closed

[2022-04-22 10:10] #167 closed

[2022-05-20 12:44] NC0DER opened #173 "Empty stem on stemmers/greek.py"
Greetings,

I found a bug regarding the greek stemmer package, while using sumy on greek texts. For certain words that are not found in its dictionary, it returns an empty stem, which makes the statement in line 33 to yield a string index out of range exception.
Therefore, line 33 in [stemmers/greek.py](https://github.com/miso-belica/sumy/blob/main/sumy/nlp/stemmers/greek.py#L34) should have an ex

[2022-06-09 16:20] phamkhactu opened #174 "Limitation of length input"
I appreciate your repo, but I have read the document but I don't know the input limit of the model. For example LuhnSummarizer model, How many words is the highest capacity? Thank in advance!

[2022-06-10 21:05] miso-belica commented on #174
Hi, what do you mean by text capacity? There is no limit for input text in the library.

[2022-06-10 21:07] miso-belica commented on #173
Thank you for the report again. If u have time and mood please open a PR. But please write the test first to reproduce the bug 🙂

[2022-06-11 07:35] phamkhactu commented on #174
@miso-belica thank you for your reply. It's a wonderful repo.

[2022-06-13 19:38] #173 closed

[2022-06-16 11:58] #174 closed

[2022-07-08 21:03] mrx23dot opened #176 "sumbasic: KeyError"
sumbasic failed on text:
[common.txt](https://github.com/miso-belica/sumy/files/9075022/common.txt)

[code]

sumy==0.10.0

[2022-07-10 13:22] mrx23dot opened #177 "Ability to access UserWarnings"
After sentence is summarised I would like to access any warnings e.g:

C:\py38_64\lib\site-packages\sumy\summarizers\lsa.py:76: UserWarning: Number of words (14) is lower than
number of sentences (15). LSA algorithm may not work properly.

so I would just keep the original sentence segment instead.

[2022-07-11 07:49] miso-belica commented on #2
How to add support for custom language/library - https://miso-belica.github.io/sumy/how-to-add-new-language.html

[2022-07-11 07:51] miso-belica commented on #177
https://docs.python.org/3/library/warnings.html#warnings.catch_warnings

[2022-07-11 20:22] #177 closed, assigned to nobody

[2022-07-12 20:55] mrx23dot opened #179 "Summarising books by verbs"
Not really an issue, just a question.

So I'm summarising books by paragraphs, and I was thinking to get the main plot 'happening' it would be beneficial to prioratise sentences with verbs.

I can collect every verb for a given language. As I see only Edmundson is capable taking hint words.
Not sure what stop-words are, documentation doesn't explain them.

Has anyone tried similar thing?

[2022-07-15 06:58] miso-belica commented on #179
Hi, if you can collect verbs from the text it should be as you said. Edmundson is the method for you. Use those words as hints for the method.

Regarding the stop-words, it's not that hard to [Google them](https://en.wikipedia.org/wiki/Stop_word) 😏

I am curious what you come with and about the results. Don't forget to let us all know 🙂

[2022-07-21 10:12] Archkik opened #180 "question: how could I extract a specific number of keywords instead of sentence?"
how could I  extract a specific number of keywords instead of  sentence with python API?

[2022-07-21 12:00] miso-belica commented on #180
You can pick from the summary anything you want by providing custom function. The function gets collection if [`SentenceInfo`](https://github.com/miso-belica/sumy/blob/d1f84c0353145ec274fde242a73ea64505ac3541/sumy/summarizers/_summarizer.py#L14) objects.

[code]

[2022-08-03 12:55] issam9 opened #183 "A HuggingFace space for sumy"
I'm not sure if it's okay to mention this here but I made a HuggingFace space for sumy that I think makes it easy and quick to try out the library. It is available at this link: https://huggingface.co/spaces/issam9/sumy_space

[2022-08-26 19:20] miso-belica commented on #183
Wow, thats nice, thank you :)

[2022-08-26 19:24] miso-belica commented on #183
https://github.com/miso-belica/sumy/commit/af5a236b45d1462e38cdff2f2abd471e9c8bbdaa

[2022-08-26 19:24] #183 closed

[2022-09-19 23:04] futurewarning opened #184 "Luhn's summarizer 'significant percentage' comment"
Significant % is defined as 1 [can assume the `TODO` might reference the boundary selection from the original paper]
https://github.com/miso-belica/sumy/blob/af5a236b45d1462e38cdff2f2abd471e9c8bbdaa/sumy/summarizers/luhn.py#L12-L13
Later, `best_word_count` will always be `len(words)`
https://github.com/miso-belica/sumy/blob/af5a236b45d1462e38cdff2f2abd471e9c8bbdaa/sumy/summarizers/luhn.py#L35-L36

[2022-09-20 00:20] #184 closed

[2022-09-20 09:18] futurewarning commented on #184
@miso-belica Was a question, not relevant anymore — found the test case with overwritten `significant_percentage`as a fraction
https://github.com/miso-belica/sumy/blob/af5a236b45d1462e38cdff2f2abd471e9c8bbdaa/tests/test_summarizers/test_luhn_sentence_rating.py#L22
Was confused as to the default 100% of cleaned words being included, but since no boundary is being estimated it makes sense to include

[2022-10-23 16:53] miso-belica commented on #180
@Archkik does this work for your use-case? Is your issue different somehow? Can you describe what you are trying to achieve then?

[2022-10-23 16:55] miso-belica commented on #179
@mrx23dot did my suggestion help a bit?

[2022-10-23 17:19] #179 closed, assigned to nobody